%header{role: "banner"}
  .bch.tch.tsxs.tao.mbm
    Hello there. This is a website for AJ Foster, a web developer and graduate student at the University of Central Florida. If you'd like to skip to the content, you can use <a href="#title">this link</a>. Have a great day!
  %nav{role: "navigation"}
    %ul.list.list--inline
      %li.list-item
        = link_to "Front Page", "/"
      %li.list-item
        = link_to "About", "/about/"