---
title: A little more about me
---
%p So, what to write about myself... My programming journey began in 7th grade with some basic Java. Someone I met at the county science fair used Java to run simulations of fluid dynamics, and that was just too cool.
%p Throughout my high school years, I programmed for (and led) the school's <a href="http://usfirst.org">FIRST</a> robotics team. Robotics in general was a great way to get me interested in more advanced programming concepts. You could <em>see</em> the results of the code, in motion.
%p Soon, my interests turned to web design. In the absence of moving mechanics, the web still allows you to see the results of the code you write. HTML and CSS weren't quite enough, so I jumped into PHP whenever possible.
%p Entering college, Java and PHP defined programming to me. At the end of my first year I saw the Ruby language for the first time and immediately loved its expressiveness. Now I look for every excuse to write Ruby code and create a project in Ruby on Rails. One project was CreativeQ, a work-order management system for the graphics, web, and video production staff in one office at UCF.
%p Meanwhile, on the academic side of things, I'm persuing a Masters degree in Mathematical Science at the University of Central Florida. Math, like programming, has been an interest for some time. Some of my free time is spent volunteering at FIRST robotics events to hopefully give others the great experience I had.
%p I love the web community and hope to continue working within it. If you're into web, math, or FIRST robotics, it would be nice to talk! Feel free to send me an e-mail or ping me on Twitter.

- content_for :aside do
  .tac.mbl
    %img.mhc.ram{src: "/images/og-default.jpg", alt: "Photo of AJ Foster, taken by Grant Cavaluzzi", title: "AJ Foster, Spring 2014"}/
    %p.tsxs Photo Credit: <a href="http://cavaluzzi.me/">Grant Cavaluzzi</a>